 #name {
  font-size: 3em;
  text-decoration: underline;
}
ul li {
  list-style-type: none;
  padding:15px;
  color: black;
}

ul{
    border: 3px solid black;
    margin: 15px;
    background-color: #d3d3d3;
}
#userInput{
  margin-top: 15px;
}
